// Compile Sass
// Base Mixins
@import "base/mixins";
// Base Variables
@import "base/variables/breakpoints";
@import "base/variables/colors";
//@import "base/variables/debugging";
@import "base/variables/fonts";
//@import "base/variables/units";

// Base Styles
//@import "base/accessibility";
//@import "base/reset";
@import "base/base";
//@import "base/typography";

// Styles
//@import "styles/admin";
//@import "styles/layout";

@import "styles/gutenberg-layout";

// styles
@import "styles/form";
@import "styles/pager";
@import "styles/dropbuttons";
@import "styles/entity-browser";

//@import "styles/tables";
@import "styles/tabs";
@import "styles/throbbers";
//@import "styles/comments";
@import "styles/ckeditor";
@import "styles/media-library";


// Component Styles
@import "styles/regions/header";
@import "styles/regions/footer";

// Other
//@import "print";


h1,
.heading-a {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.875em;
}

.block-system-main-block {
  padding-top: 2em;
}

.content-header {
  overflow: hidden;
  padding: 24px 0 0;
  background-color: #f7f7f7;
}

.is-horizontal .tabs.primary a {
  padding: 1em 2em 1em 2em;
  background-image: none;
}

.breadcrumb {
  line-height: 1.5em;
  padding: 0;

  a {
    color: #666;
    padding: 0 0.3em;
  }
}

.no-touchevents {
  .action-links {
    .button--small {
      padding: 0.7em 1em;
    }
  }
}

.action-links {
  padding: 5px 0;

  .button {
    text-transform: uppercase;
  }
}

.button {
  //border-radius: 5px;
  padding: 0.5em 1.5em;
  font-size: 0.755rem;
}

.button--danger {
  padding: 0;
}

#edit-actions {
  .button {
    font-size: 1.3em;
  }
}

.tiny-thumbnail img {
  max-width: 90px;
}

table {
  font-size: 0.95em;

  td {
    padding: 0.4em 0.5em;
  }

  th {
    padding-right: 0.5em;
    padding-left: 0.5em;
    font-size: 12px;
  }
}

a.tabledrag-handle .handle {
  width: 30px;
  height: 30px;
  margin: -5px 0 0 0;
  padding: 0;
  //float: left;
  background-position: top center;
}

.draggable a.tabledrag-handle {
  margin-left: 0
}

@media (min-width: $desktop) {
  .group-left {
    float: left;
    width: 50%;
    padding-right: 2em;
  }
  .group-right {
    float: right;
    width: 50%;
    padding-left: 2em;
  }
  .group-inline-wrapper {
    clear: both;
    width: 100%;
    /* float: left;
    padding-bottom: 2em; */
    display: inline-block;
    vertical-align: top;
  }
}

#footer {
  margin-top: 3em;
  border-top: solid 1px #eee;
  padding-top: 3em;
}

div.progress {
  max-width: 900px;
}

// ======================
.user.view-mode-simple-no-link,
.user.view-mode-simple {
  .field--type-image {
    width: 40px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 100%;
    overflow: hidden;

    img {
      vertical-align: middle;
    }
  }

  a {
    color: #111;
  }

  .username {
    display: inline-block;
    vertical-align: middle;
    padding: 0 0.5em;
    font-weight: bold;
    font-size: 1.1em;
    color: #111;
  }
}


// IEF forms
///////////////////////////////////////
// a closed ief table row (shows entity details)
tr.ief-row-entity {
}

// The table row when there is an open form below it.
//
// @todo - The operations td is missing for this, preventing me from
// applying a bg clolor to the whole row. (applying to the tr isnt working)
// We should see if i can add an empty td when this happens.
// Or make the previous td have a colspan="2".
// maybe in hook_preprocess_table()? If this not just a theme issue
// it should be corrected in a mod so it works on both ends.
tr.ief-row-entity.ief-row-entity-form {
  background-color: $pale-blue !important;

  td {
    background-color: $pale-blue !important;
  }
}

// the open form table row.
tr.ief-row-form {
  td {
    padding: 1em 1.5em;
  }

  .ief-form-row > .form-wrapper {
    padding: 0.5em 0;
    /*     .form-wrapper{
      padding: 0;
    } */
  }

  .ief-form-row {
    padding: 0;
  }
}

// IEF form below the table (new items)
fieldset.ief-form-bottom {
  border-color: $light-gray;
  padding: 0.9em 1.5em 1.5em 1.5em;
}

// hide the throbbers.
.field--widget-inline-entity-form-complex,
.ief-entity-table {
  .ajax-progress {
    display: none;
  }
}

.ief-form-actions {
  padding: 1em 0;
}

.ief-button-ief_add_cancel,
.ief-button-ief_edit_cancel,
.ief-button-ief_remove_cancel,
.ief-cancel {
  @include buttonReset();
}

.ief-remove-message {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.4em;
}

.field--widget-inline-entity-form-complex {
  margin-top: 2em;
}

///////////////////////////////////////
.entity-browser-modal-iframe {
  background-color: #fff;
}

.entity-browser-trigger {
  padding: 0.5em 1em;
  margin: 0.3em 0 0 0;
  font-size: 1.1em;
}


.block-help {
  padding: 1em;
  background: $pale-blue;
  margin: 1.5em 0;
  font-size: 1.2em;
  color: $bright-blue;
  border: solid 1px $bright-blue;
  line-height: 1.5em;
  border-radius: 3px;

  p:last-child {
    margin-bottom: 0;
  }
}


@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select {
    font-size: 1em;
    padding: 0.6em 1.571em 0.6em 0.5em; //1px 1.571em 1px 0.5em;
  }
}

@media screen and (min-width: 780px),
(min-device-height: 780px) and (orientation: landscape) {
  .layout-region-node-main {
    padding-right: 4em; //max-width: 900px;
  }
  .layout-region-node-main {
    .inner {
      display: block;
      width: 100%;
      max-width: 950px;
      margin: auto;
      float: none;
    }
  }
  .layout-node-form {
    max-width: 2000px;
    margin: auto;
  }
}

.page-content {
  padding: 1em 0;
}

.sidebar-actions {
  margin: 0;
}

.entity-meta__header {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.commerce-product-form,
.node-form {
  .field--name-title {
    input.form-text {
      width: 100%;
      font-size: 20px;
    }
  }

  .ief-form {
    .field--name-title {
      input.form-text {
        font-size: inherit;
        max-width: 100%;
        width: auto;
      }
    }
  }

  .field--name-field-subtitle,
  .field--name-field-dek {
    input.form-text {
      width: 100%;
      font-size: 16px;
    }
  }
}

.views-form,
.vbo-view-form {
  #edit-header {
    padding: 1em 1.5em;
    background-color: #fcfcfc;
    margin: 1em 0;
    border: solid 1px $light-gray;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
  }
}

.webform-submission-form {
  max-width: 700px;
  margin: auto;
  padding: 1em 2em;
  border: solid 1px #eee;
}

.form-radios {
  padding: 0.3em 0;
}

.entity-meta__header {
  .sidebar-actions {
    float: right;

    .button {
      font-size: 1.2em;
    }
  }

  .form-wrapper {
    padding: 0.5em 0;
  }
}

.container-inline div.form-item {
  margin-bottom: 0;
  margin-top: 0.2em;
}

.field--type-datetime,
.field--type-timestamp {
  .container-inline {
    margin-top: 0.4em;

    &:first-child {
      margin-top: none;
    }
  }
}

.field--type-daterange {
  .container-inline {
    margin-bottom: 0.6em;

    &:last-child {
      margin-bottom: none;
    }
  }
}

ul.tips,
div.description,
.form-item .description {
  margin-top: 0.3em;
  margin-bottom: 0;
  font-size: 0.95em;
  color: $med-gray;
}

.extra-description {
  margin-top: 0;
  margin-bottom: 0.3em;
  font-size: 0.95em;
  color: $med-gray;
}

.form-type-radio,
.form-type-checkbox {
  .description {
    margin-left: 1.3em;
    margin-top: 0.2em;
  }
}

.field--widget-bootstrap-toggle-switch {
  .description {
    margin-left: 0;
  }
}

.vertical-tabs {
  .details-wrapper {
    > .form-wrapper {
      margin-bottom: 2em;
    }
  }
}

.layout-region {
  > .form-wrapper {
    margin-bottom: 2em;
  }
}

.field--name-html-body {
  iframe {
    position: relative !important;
    max-width: 900px;
    margin: auto;
    display: block;
  }
}

.ui-autocomplete.ui-widget-content .ui-state-active{
  color: #fff;
}

// ##############################################
// Responsive styles: These need to go last so they can
// override the above styles
// ##############################################
@media (min-width: $tablet) {
  @import "responsive/tablet";
}

@media (min-width: $tablet-plus) {
  @import "responsive/tablet_plus";
}

@media (min-width: $desktop) {
  @import "responsive/desktop";
}

@media (min-width: $desktop_plus) {
  @import "responsive/desktop_plus";
}
