@import "base/mixins";
// Base Variables
@import "base/variables/breakpoints";
@import "base/variables/colors";
@import "base/variables/fonts";


.media__media_library {
  position: relative;
  background-color: $off-white;
  .field--name-thumbnail {
    background-color: $off-white;
  }
}

.media-library-item__attributes {
  max-width: 100%;
  width: 100%;
  //border-top: solid 1px $light-gray;
  //background-color: rgba(255, 255, 255, 0.9);
}

.media-library-widget-modal,
.media-library-selection {
  .media-library-item--grid {
    //min-width: 180px;
  }
}

.media-library-item--grid{
  min-width: 150px;
  .field--name-field-media-image,
  .field--name-thumbnail {
    overflow: hidden;
    text-align: center;
    background-color: #ebebeb;
    img {
      height: 180px;
      object-fit: contain;
      object-position: center center;
    }
  }
}
.media-library-add-form__selected-media{
  .media-library-item{
    .field--name-field-media-image,
    .field--name-thumbnail{
      img {
        height: 100px;
      }
    }
  }
}

.media-library-item--grid::before{
  bottom: 7px;
  top: 7px;
  left: 7px;
  right: 7px;
  width: auto;
  height: auto;
}
.media-library-item--grid.is-hover::before,
.media-library-item--grid.checked::before,
.media-library-item--grid.is-focus::before{
  bottom: 5px;
  top: 5px;
  left: 5px;
  right: 5px;
}
