// Mobile-First Breakpoints - uses bp-em to convert pixels to ems

$mobile: bp-em(679);
$tablet: bp-em(680);
$tablet-plus: bp-em(960);
$desktop:  bp-em(1100);
$desktop-plus: bp-em(1340);
$print: 'print';
