// Base Colors

$black: #000;
$white: #fff;
$off-white: #f7f7f7;
$off-black: #161616;

$dark-gray: #333;
$gray: #666;
$med-gray: #999;
$light-gray: #ccc;
$lighter-gray: #eee;


$red: #ff0000;



$pale-blue: #eaf6ff;
$bright-blue: #1680d3;
$darker-blue: #136db3;

$accent-color: $bright-blue; //#ed1c24;
$accent-color-dark: $darker-blue; //#ce0c13;

$green: #19bd19;
$light-green: #9cee9c;
$med-green: #34e034;
$dark-green: #0f7d0f;
$darker-green: #054005;

$table-header-color: #eff2f5;
