// Debugging

$debug-blue: 1px dotted blue;
$debug-green: 1px dotted green;
$debug-red: 1px dotted red;
$debug-orange: 1px dotted orange;
$debug-purple: 1px dotted rebeccapurple;

$debug-solidred: 2px solid tomato;
$debug-solidpink: 2px solid hotpink;
$debug-solidorange: 2px solid orange;
$debug-solidyellow: 2px solid gold;
$debug-solidgreen: 2px solid lightgreen;
$debug-solidblue: 2px solid deepskyblue;
$debug-solidpurple: 2px solid rebeccapurple;
