
input.form-autocomplete,
input.form-text,
input.form-tel,
input.form-email,
input.form-url,
input.form-search,
input.form-number,
input.form-color,
input.form-file,
input.form-date,
input.form-time,
textarea.form-textarea {
  padding: 0.7em 1em;
  &:focus{
    background-color: $pale-blue;
    border-color: $bright-blue;
    box-shadow: none;
  }
}
.view-filters {
  padding: 1em 1.5em;
  margin-bottom: 2em;
  margin-top: 0.5em;
  background-color: #fcfcfc;
  border: solid 1px $light-gray;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
  label {
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
  }
  .form--inline {
    display: flex;
    flex-wrap: wrap;
  }
  #edit-actions,
  .form-actions {
    align-self: flex-end;
    margin: 0.75em 0;
    clear: none;
    input.button {
      font-size: 14px;
      line-height: 1.7em;
      &:first-child {
        @include gradient($dark-green, $green);
        color: #fff;
        border-color: $light-green;
        border-bottom-color: $dark-green;
        text-shadow: none;
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.3);
        text-transform: uppercase; //border-radius: 3px;
        &:hover {
          @include gradient($darker-green, $dark-green);
          color: #fff;
          border-color: $dark-green;
          border-bottom-color: $darker-green;
          text-shadow: none;
        }
      }
    }
  }
}
.select2-container{
  ul{
    margin: 0;
  }
}

.ief-achievement-preview{
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  img{
    vertical-align: middle;
  }
}
.ief-entity-table{
  tr.ief-row-entity.ief-row-entity-form{
    display: none;
  }
}


/*.block-content-form{
  max-width: 1100px;
  margin: auto;
}*/

