
.vertical-tabs {
  margin: 3em 0;
  overflow: hidden;
  .seven-details__description{
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 0 0 1.5em 0;
  }
}
.vertical-tabs__menu{
  border-top: none;
}
.vertical-tabs__menu-item{
  border: none;
}
.vertical-tabs__menu-item.is-selected {
    z-index: 1;
    overflow-x: visible;
    width: auto;
    border-right: none;
    margin-right: -1px;
}
.vertical-tabs__panes {
  padding: 2em 1.5em;
}

.horizontal-tabs{
  margin: 5em 0;
  //overflow: hidden;
  border-top: none;
  .horizontal-tabs-list{
    background-color: transparent;
    font-size: 1.2em;
  }
  .horizontal-tab-button{
    //border-radius: 5px 5px 0 0;
    //overflow: hidden;
    border: 1px solid #ccc;
    border-bottom: none;
    margin: 0 0 -1px -1px;
  }
}
.layout-region .field-group-tabs-wrapper:first-child{
    .vertical-tabs{
      margin: 0;
    }
  }

